{% extends "base.html" %}

{% block content %}
{% load static %}   
  <nav class="navbar" style="top: 0; height: 60px;">
    <div class="logo">
      <a href="{% url 'inicio' %}">
        <img src="{% static 'img/Logo.png' %}" alt="Logo" style="height: 40px;"/>
      </a>
    </div>
  </nav>

    <div id="websiteContenido" >
        {% block contenido %}{% endblock contenido %}
    </div>

    {% include 'components/footer.html' %}

{% endblock %}
    
{% block scripts %}
{% endblock scripts %}
